<div class="memory-window">
    <div class="header">
        <span class="fa"><i class="fas fa-icons"></i></span>
        <span class="title">Memory</span>
        <span class="fa close"><i class="far fa-times-circle"></i></span>
    </div>
    <div class="body">
        <div class="settings"></div>
        <div class="timer"></div>
        <div class="game"></div>
    </div>
    <template id="brick-temp">
        <div class="brick" tabindex="0" >
            <a href="#"><i class="fas fa-question"></i></a>
        </div>
    </template>
</div>
