<div class="memory-window">
    <div class="header">
        <span class="fa"><i class="fas fa-icons"></i></span>
        <span class="title">Memory</span>
        <span class="fa close"><i class="far fa-times-circle"></i></span>
    </div>
    <div class="body">
        <div class="settings">
            <!-- <p>select size of the board</p> -->
            <select>
                <option value="0">select board size</option>
                <option value="1">4 x 4</option>
                <option value="2">6 X 4</option>
                <option value="3">6 x 6</option>
            </select>
        </div>
        <div class="timer"></div>
        <div class="game"></div>
    </div>
    <template id="brick-temp">
        <div class="brick" tabindex="0" >
            <a href="#"><i class="fas fa-question"></i></a>
        </div>
    </template>
    <template id="final-temp">
        <div class="final">
            <p>
                Congratulations! <i class="fas fa-trophy"></i><br>
                You won after <span id="attempts"></span> attempts<br>
                <a id="reset">Play again</a>
            </p>
        </div>
    </template>
</div>
