/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


body, html {
    height: 100%;
    min-width: 1000px;
    width: 100%;
    font-family: sans-serif;
}
body {
    background-image: url('/image/cosmos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    overflow: hidden;
    box-sizing: border-box;
}

h1 {
    color: #fff;
}

#dock {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 90%;
    margin-left: 5%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px 4px 0 0;
    padding: 10px;
}

span.fa {
    color: rgb(187, 187, 187);
    font-size: 30px;
    margin: 0 15px;
}

.window {
    width: 280px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    border: solid 1px grey;
    border-radius: 4px;
}

.window div .header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 5px;
    cursor: move;
    background-image: linear-gradient(to right, #13192f, #65828c, #13192f);
}

.window div .header .close {
    cursor: pointer;
}

/* CHAT */
.chat-window {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat-window .body {
    flex-grow: 1;
}
.chat-window .body > div {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.chat-window .loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-window .username,
.chat-window .chat {
    flex-direction: column;
    justify-content: space-evenly;
}
.chat-window .chat {
    display: none;
}

.chat-window .chat .conversation {
    flex: 1;
    background-color: rgb(230, 230, 230);
}

.chat-window .chat .msg {
    /* display: flex; */
    position: relative;
}
.chat-window .chat .msg textarea {
    width: 100%;
    border: none;
    outline: none;
    padding-right: 40px;
    color: gray;
}
/* .chat-window .chat .msg p {
    position: absolute;
    right: 0;
    top: 0;
}
.chat-window .chat .msg span.fa {
    display: block;
    margin: 5px 10px;

} */

.chat-window .chat .conversation .block {
    color: gray;
    padding: 5px;
}
.chat-window .chat .conversation .block .user {
    font-weight: bold;
}
