/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
*:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


body, html {
    height: 100%;
    min-width: 1000px;
    width: 100%;
    font-family: sans-serif;
}
body {
    background-image: url('/image/cosmos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    overflow: hidden;
    box-sizing: border-box;
}

h1 {
    color: #fff;
}

#dock {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 90%;
    margin-left: 5%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px 4px 0 0;
    padding: 10px;
}

span.fa {
    color: rgb(187, 187, 187);
    font-size: 30px;
    margin: 0 15px;
}

span.fa:hover {
    color: grey;
}

.window {
    width: 280px;
    height: 350px;
    background-color: #edfaff;
    position: absolute;
    border: solid 1px grey;
    border-radius: 4px;
}

.window div .header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 5px;
    cursor: move;
    background-image: linear-gradient(to right, #13192f, #65828c, #13192f);
}

.window div .header .close {
    cursor: pointer;
}
.window div .header .close:hover {
    color: grey;
}

.window div .header .title {
    color: #bfbfbf;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    text-transform: uppercase;
}

/* CHAT */
.chat-window {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat-window .body {
    flex-grow: 1;
}
.chat-window .body > div {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.chat-window .loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-window .username,
.chat-window .chat {
    flex-direction: column;
    justify-content: space-evenly;
}
.chat-window .username {
    text-align: center;
    padding: 20px;
    color: gray;
}
.chat-window .username input {
    height: 35px;
    padding: 0 10px;
    background-color: rgb(230, 230, 230);
    border: none;
    outline: none;
}
.chat-window .chat {
    display: none;
}

.chat-window .chat .conversation {
    flex: 1;
    background-color: #edfaff;
}

.chat-window .chat .msg {
    /* display: flex; */
    position: relative;
}
.chat-window .chat .msg textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    padding-right: 40px;
    color: gray;
    background-color: rgb(230, 230, 230);
}
/* .chat-window .chat .msg p {
    position: absolute;
    right: 0;
    top: 0;
}
.chat-window .chat .msg span.fa {
    display: block;
    margin: 5px 10px;

} */
.chat-window .chat .conversation {
    overflow: scroll;
}
.chat-window .chat .conversation .block {
    color: gray;
    padding: 5px;
}
.chat-window .chat .conversation .block .user {
    font-weight: bold;
}


/* TODO */
.todo-window {
    height: 100%;
    padding-bottom: 45px;
}
.todo-window .body {
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
}
.todo-window h1 {
    color: gray;
    text-align: center;
    font-weight: bold;
}

.todo-window input {
    height: 35px;
    padding: 0 10px;
    background-color: rgb(230, 230, 230);
    border: none;
    outline: none;
    width: 100%;
    margin: 20px 0;
}

.todo-window ol li {
    display: list-item;
    list-style-position: inside;
    cursor: pointer;
    margin-bottom: 10px;
}

.todo-window ol li:hover {
    text-decoration: underline;
}

.todo-window ol li span {
    position: absolute;
    right: 20px;
}

.todo-window ol i {
    vertical-align: middle;
}

.todo-window ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.todo-window ul li p {
    width: 80%;
}

.todo-window ul li i {
    cursor: pointer;
}

li .fa-times-circle:hover {
    color: red;
}
.fa-circle:hover {
    color: green;
}

/* MEMORY */
.memory.window {
    width: 340px;
    height: auto;
}
.memory-window .game {
    margin: 20px auto;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.memory-window .game .brick {
    display: block;
    background-color: #252e4a;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 1px;
}
.memory-window .game .brick:focus {
    background-color: hotpink;
}
.memory-window .game .brick:hover {
    background-color: #192034;
}
.memory-window .game .brick .fas.fa-question {
    color: rgb(230, 230, 230);
}
.memory-window .game .brick .fas.fa-trophy {
    color: goldenrod;
}

.memory-window .game .brick .fas {
    color: rgb(169, 133, 247);
}

.memory-window .game.sq4 .brick {
    width: 80px;
    height: 80px;
}
.memory-window .game.sq4 .brick i {
    font-size: 40px;
    line-height: 80px;
}

.memory-window .game.sq5 .brick {
    width: 65px;
    height: 65px;
}
.memory-window .game.sq5 .brick i {
    font-size: 30px;
    line-height: 65px;
}

.memory-window .game.sq6 .brick {
    width: 53px;
    height: 53px;
}
.memory-window .game.sq6 .brick i {
    font-size: 30px;
    line-height: 53px;
}

.memory-window .settings {
    text-align: center;
    margin: 20px auto;
    width: 60%;
}

.memory-window .settings select {
    height: 35px;
    width: 100%;
    margin-top: 15px;
}

select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}